In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [15]:
from os import listdir
from os.path import isfile, join

mypath = '/Users/data/Documents/actas/datos/'
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [16]:
files

['project-24-at-2021-08-20-23-09-37a57061.json',
 'project-22-at-2021-08-20-23-11-8bf5dc2e.json',
 'project-23-at-2021-08-20-23-10-1f5635ab.json',
 'project-26-at-2021-08-20-23-06-62aca1f2.json',
 'project-25-at-2021-08-20-23-08-c5ee9d69.json',
 'project-20-at-2021-08-20-23-13-69739800.json']

In [21]:
cols = ['id',
        'documento',
        'pagina',
        'apoderado',
        'denominacion_social',
        'direccion',
        'fecha_inscripcion',
        'instrumento_publico',
        'notario',
        'razon_social']

df_truth = pd.DataFrame(columns = cols)

In [22]:
for f in files:
    with open(mypath+f) as json_file:
        ground_truth = json.load(json_file)
        
        df_temp = pd.DataFrame(columns = cols)
            
        for i in range(len(ground_truth)):
        #     print(i)
            identity = ground_truth[i]['id']
            documento = ground_truth[i]['file_upload'].split('-')[0]
            pagina = ground_truth[i]['file_upload'].split('-')[1].split('.')[0].split('_')[0]

            lista = ground_truth[i]['annotations'][0]['result']

            for l in lista:
                df_temp.loc[i, 'id'] = identity
                df_temp.loc[i, 'documento'] = documento
                df_temp.loc[i, 'pagina'] = pagina

                try:
                    df_temp.loc[i, l['from_name']] = l['value']['text'][0]
                except:
                    continue
                    
        # ordeno por documento y página
        df_temp = df_temp.sort_values(['documento', 'pagina'])
        df_temp['pagina'] = df_temp['pagina'].astype(int)
        
        df_truth = pd.concat([df_truth, df_temp])
        
df_truth

,id,documento,pagina,apoderado,denominacion_social,direccion,fecha_inscripcion,instrumento_publico,notario,razon_social,...,datos_inscripcion,apoderado_1,notaria_num,lugar_otorgamiento,fecha_otorgamiento,duracion_sociedad,apoderado_2,apoderado_3,apoderado_4,apoderado_5
26,10448,23888,0,NaN,comercializadora letz,NaN,NaN,7244,jose luis Treviño marque,NaN,...,NaN,NaN,97,nuevo leon,16/05/2001,NaN,NaN,NaN,NaN,NaN
24,10456,23888,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,10452,23888,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,luis angel Treviño torres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10453,23888,12,NaN,NaN,NaN,20/06/2001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,10022,23897,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2019000496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,8802,10329,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8795,10329,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N-2017011373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8791,10329,14,NaN,NaN,NaN,13/02/2017,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8819,10900,1,NaN,PRO-INT ENGINEERING,NaN,NaN,13377,WALDO ARELLANO ESPINDOLA,NaN,...,NaN,NaN,7,PUEBLA,08/09/2016,NaN,NaN,NaN,NaN,NaN
4,8813,10900,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,NaN,NaN